.food {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dad8d8;
  border-radius: 10px;
}
.food-image {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
}
.food-image > img {
  padding: 5px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  
}
.food-info {
  width: 150px;
}
.food-name {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  background: -webkit-linear-gradient(bottom left, rgb(101, 9, 124) 0%, rgb(7, 109, 87) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}